*.dxbc
*.dxbc50
*.dxbc51
*.dxil
*.log
*.o
*.spv
*.swp
.DS_Store
.ninja_deps
.ninja_log
.vs/
.vscode/
/test/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CTestTestfile.cmake
__pycache__
bin/
build-*/
build.ninja
build/
build_android/
cmake_install.cmake
lib/
out/
tags
local.properties

# Android Studio
/.cache
/.cxx
/.gradle
/.idea

projects/**/assets
