name: Android build

on:
  pull_request:

# Cancel previous runs if a more recent commit is pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  android-build:
    name: Check Android build with gradle
    runs-on: "ubuntu-20.04"
    strategy:
      fail-fast: true
      matrix:
        task: ["assembleMobileBasicMaterial", "assembleMobileCube", "assembleMobileFishtornado", "assembleMobileGbuffer", "assembleMobileTriangle" ]
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Setup Vulkan SDK
        run: |
          wget -q https://sdk.lunarg.com/sdk/download/1.3.216.0/linux/vulkansdk-linux-x86_64-1.3.216.0.tar.gz
          if ! echo "2cb10cb94ac656e9e454f1f5ae48e8a833253af5fe22562d27310db45b579212 vulkansdk-linux-x86_64-1.3.216.0.tar.gz" | sha256sum -c --status; then
            echo "Invalid SHA256 for VulkanSDK's binary. Aborting."
            exit 1
          fi
          mkdir "${HOME}/vulkan-sdk"
          tar -xf vulkansdk-linux-x86_64-1.3.216.0.tar.gz -C "${HOME}/vulkan-sdk"
          echo "VULKAN_SDK=${HOME}/vulkan-sdk/1.3.216.0/x86_64" >> $GITHUB_ENV
      - name: Build the sample for Android
        run: |
          ./gradlew ${{ matrix.task }}
